@{
    Layout = "_Layout";
}

<h1> <i class="fa-sharp fa-location-question"></i> Oh my</h1><br/>
<h2> Il semblerais que la page n'aie pu vous être livrée</h2><br/>

<h4> Si jamais le problème persiste, veuillez contacter un administrateur du site au lien de ce formulaire</h4>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formulaire">
    Formulaire de contact <i class="fa-envelope fa-sharp"></i>
</button>

<div class="modal" id="formulaire" aria-labelledby="formLabel">
    <div class="modal-dialog">
        <div class="modal-header">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contacter l'administrateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Faux formulaire
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>